#Eclipse
.classpath
.project
test-output
.settings

#IntelliJ
*.iml
*.ipr
*.iws
.idea/

#Neo4j
*.db/

#Gradle
.gradle

#Build directories
bin/
build/
target/

#Maven
*.versionsBackup

#Tests artifacts
plugin/derived-config.txt

# Evaluation files that do not go into tests. Used because I failed to build plugin properly to run in IDE
findsecbugs-samples-java/src/test/java/testcode/oidc/gitignore/*
